{% extends "base.html" %}

{% block nav %}
    <a href="/user/" class="navbar-item">
        Home
    </a>
    <a href="/subscribe/" class="navbar-item">
        Subscribes
    </a>
    <a href="/get_posts/" class="navbar-item">
        My posts
    </a>
    <a href="/logout/" class="navbar-item">
        Logout
    </a>
    <a href="/profile/" class="navbar-item">
        Здравствуйте, {{ user_name }}
    </a>
{% endblock %}

{% block content %}
    <div class="form-main">
        <div class="form-main-page">
            <div class="form-main-page-box">
                <h3 class="main_title">Create post</h3>
                {% for msg in get_flashed_messages(category_filter=['post_create']) %}
                    <div class="message">{{ msg }}</div>
                {% endfor %}
                <div class="box">
                    <form method="POST" action="/create/">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" name="title" placeholder="Enter title of your post" autofocus="" required>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input is-large" type="text" name="post" placeholder="Enter text of your post" required>
                            </div>
                        </div>
                        <div class="field">
                            <label for="post_type">Choose a post type:</label>
                            <select name="post_type">
                                <option value="public">Public</option>
                                <option value="private">Private</option>
                            </select>
                        </div>
                        <input type="submit" value="Create" />
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}