{% extends "base.html" %}

{% block nav %}
    <a href="/" class="navbar-item">
        Home
    </a>
    <a href="/signup/" class="navbar-item">
        Sign Up
    </a>
{% endblock %}

{% block content %}
<div class="form-main">
    <div class="form-main-page">
        <div class="form-main-page-box">
            <h3 class="main_title">Login</h3>
            {% for msg in get_flashed_messages(category_filter=['login_message']) %}
                <div class="message">{{ msg }}</div>
            {% endfor %}
            <div class="box">
                <form method="POST" action="/login/">
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input is-large" type="password" name="password" placeholder="Your Password" required>
                            {% if error %}
                                <span style="color:red">{{ error }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="field f-check">
                        <label class="checkbox">
                            <input type="checkbox" name="remember">
                            Remember me
                        </label>
                    </div>
                    <input type="submit" value="Login" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}