{% extends "base.html" %}

{% block nav %}
    <a href="/create" class="navbar-item">
        Create post
    </a>
    <a href="/subscribe" class="navbar-item">
        Subscribes
    </a>
    <a href="/logout" class="navbar-item">
        Logout
    </a>
    <span style="color: blue" class="navbar-item">
        Здравствуйте, {{ user_name }}
    </span>
{% endblock %}

{% block content %}
    <div class="posts_block">
        Имя пользователя: {{ other_user.username }}
        {% if exists %}
            <form action="/unsubscribe" method="post" >
                <input type="hidden" name="other_user" value="{{ other_user.id }}">
                <input type="submit" value="Отписаться" />
            </form>
        {% else %}
            <form action="/subscribe" method="post" >
                <input type="hidden" name="other_user" value="{{ other_user.id }}">
                <input type="submit" value="Подписаться" />
            </form>
        {% endif %}

    </div>

{% endblock %}