{% extends "base.html" %}

{% block nav %}
    <a href="/user/" class="navbar-item">
        Home
    </a>
    <a href="/get_posts/" class="navbar-item">
        My posts
    </a>
    <a href="/create/" class="navbar-item">
        Create post
    </a>
    <a href="/logout/" class="navbar-item">
        Logout
    </a>
    <a href="/profile/" class="navbar-item">
        Здравствуйте, {{ user_name }}
    </a>
{% endblock %}

{% block content %}
    <div class="main_title">Мои подписки:</div>
    <div class="subscribes">
        {% for respondent in respondents %}
            <div class="subscribee">
                <div>Имя пользователя: {{ respondent.username }}</div>
                <form action="/unsubscribe/" method="post" >
                    <input type="hidden" name="other_user" value="{{ respondent.id }}">
                    <input type="submit" value="Отписаться" />
                </form>
            </div>
        {% endfor %}
    </div>
{% endblock %}