{% extends "base.html" %}

{% block nav %}
    <a href="/user" class="navbar-item">
        Home
    </a>
    <a href="/create" class="navbar-item">
        Create post
    </a>
    <a href="/logout" class="navbar-item">
        Logout
    </a>
    <span style="color: blue" class="navbar-item">
        Здравствуйте, {{ user_name }}
    </span>
{% endblock %}

{% block content %}
     <div class="posts_block">
        {% for respondent in respondents %}
            Имя пользователя: {{ respondent.username }}
            <form action="/unsubscribe" method="post" >
                <input type="hidden" name="other_user" value="{{ respondent.id }}">
                <input type="submit" value="Отписаться" />
            </form>
        {% endfor %}


    </div>
{% endblock %}