{% extends "base.html" %}

{% block nav %}
    <a href="/create" class="navbar-item">
        Create post
    </a>
    <a href="/subscribe" class="navbar-item">
        Subscribes
    </a>
    <a href="/logout" class="navbar-item">
        Logout
    </a>
    <span style="color: blue" class="navbar-item">
        Здравствуйте, {{ user_name }}
    </span>
{% endblock %}

{% block content %}
    <div class="posts_block">
        <form action="/user">
            <input type="search" name="text">
            <input type="submit" value="Найти">
        </form>
        <span style="color: orange">Мои подписки:</span> <br>
        {% for respondent_post in respondent_posts %}
            <div>Название поста: {{ respondent_post.title }}</div>
            <div>Содержание поста:</div>
            <div>{{ respondent_post.post }}</div>
            <div>
                {% if respondent_post.post_type == 'public' %}
                    Владелец поста: {{ respondent_post.user.username }}
                    <form action="/user/{{ respondent_post.user.id }}">
                        <input type="submit" value="Посмотреть профиль" />
                    </form>
                {% endif %}
            </div> <br>
        {% endfor %}

        <span style="color: orange">Лента новостей:</span>
        {% for post in posts %}
        <div>Название поста: {{ post.title }}</div>
        <div>Содержание поста:</div>
        <div>{{ post.post }}</div>
        <div>
            Владелец поста:
            {% if post.post_type == 'private' %}
                anonimous
            {% else %}
                {{ post.user.username }}
                <form action="/user/{{ post.user.id }}">
                    <input type="submit" value="Посмотреть профиль" />
                </form>
            {% endif %}
        </div> <br>
        {% endfor %}
    </div>

{% endblock %}