{% extends "base.html" %}

{% block nav %}
    <a href="/create/" class="navbar-item">
        Create post
    </a>
    <a href="/subscribe/" class="navbar-item">
        Subscribes
    </a>
    <a href="/logout/" class="navbar-item">
        Logout
    </a>
    <span style="color: blue" class="navbar-item">
        Здравствуйте, {{ user_name }}
    </span>
{% endblock %}

{% block content %}
    <div class="posts_block">
        <form action="/user/">
            <input type="search" name="text">
            <input type="submit" value="Найти">
        </form>
        <span style="color: orange">Лента новостей:</span>
        {% for post in posts %}
        <div>Название поста: {{ post[0] }}</div>
        <div>Содержание поста:</div>
        <div>{{ post[1] }}</div>
        <div>Дата создания: {{ post[3] }}</div>
        <div>
            Владелец поста:
            {% if post[2] == 'private' %}
                anonimous
            {% else %}
                {{ post[5] }}
                <form action="/other_user/{{ post[4] }}/">
                    <input type="submit" value="Посмотреть профиль" />
                </form>
            {% endif %}
        </div><br>
        {% endfor %}
    </div>

{% endblock %}