{% extends "base.html" %}

{% block nav %}
    <a href="/create/" class="navbar-item">
        Create post
    </a>
    <a href="/subscribe/" class="navbar-item">
        Subscribes
    </a>
    <a href="/logout/" class="navbar-item">
        Logout
    </a>
    <span style="color: blue" class="navbar-item">
        Здравствуйте, {{ user_name }}
    </span>
{% endblock %}

{% block content %}
    <div class="posts_block">
        <form action="/user/">
            <input type="search" name="text">
            <input type="submit" value="Найти">
        </form>
        <span style="color: orange">Лента новостей:</span>
        {% for post in page.data() %}
        <div>Название поста: {{ post.title }}</div>
        <div>Содержание поста:</div>
        <div>{{ post.post }}</div>
        <div>
            Владелец поста:
            {% if post.post_type == 'private' %}
                anonimous
            {% else %}
                {{ post.user.username }}
                <form action="/other_user/{{ post.user.id }}/">
                    <input type="submit" value="Посмотреть профиль" />
                </form>
            {% endif %}
        </div> <br>
        {% endfor %}
        {% if page.has_prev() %}
            <a href="/user/{{ page.prev_page() }}/">&lt;&lt; Newer posts</a>
        {% endif %} |
        {% if page.has_next() %}
            <a href="/user/{{ page.next_page() }}/">Older posts &gt;&gt;</a>
        {% endif %}

    </div>

{% endblock %}